.Userpage, .UserpageMobile {
  margin-top: 20px;
}

.Userpage {
  font-size: 14px;
  width: 420px;
}

.UserpageMobile {
  font-size: 18px;
  width: 360px;
}

.UserDiv {
  margin-bottom: 10px;
}

.UserName {
  height: 50px;
}