@import '../../styles/vars';

.about {
  &__container {
    padding-left: 10px;
  }

  &__paragraph {
    margin: 7px 0 7px;
    text-align: justify;
  }
}

.FaArrowDown,
.FaArrowUp,
.FaCheck,
.FaBan {
  padding: .1em .3em 0 0;
}

.FaArrowDown {
  color: $base-red-active;
}

.FaArrowUp {
  color: $base-green-active;
}

.FaCheck {
  color: $base-green-active;
}

.FaBan {
  color: $base-red-active;
}

.legend {
  display: flex;

  &__icon {
    display: flex;
    align-items: center;
  }
}