.about {
  margin-top: 20px;
}

.paragraph {
  margin: 7px 0 7px;
  text-align: justify;
  font-family: 'Arial'
}

.FaArrowDown,
.FaArrowUp,
.FaCheck,
.FaBan {
  padding: .1em .3em 0 0;
}

.FaArrowDown {
  color: darkred;
}

.FaArrowUp {
  color: darkgreen;
}

.FaCheck {
  color: darkgreen;
}

.FaBan {
  color: darkred;
}

.legend {
  display: flex;
  margin: 3px 0 3px;
}