.UserList {
  margin-top: 20px
}

.Tier {
  margin-top: 10px;
  font-size: 14px;
}

.string {
  background-color: #f0f0f0;
  display: flex;
  justify-content:space-between;
  margin-top: 2px;
  border: 1px solid #777;
  border-radius: 2px;
  height: 22px;
  width: 250px;
}

.text {
  padding: 2px 0px 0px 4px;
}

.bin {
  float: right;
}