.table{
  display: table-cell;
  width: 500px;
}

.cellOne,
.cellTwo,
.cellThree,
.cellFour {
  background-color: #f0f0f0;
  padding-top: 2px;
  padding: 0 4px 2px 4px;
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  align-items: center;
  font-size: 15px;
}

.cellOne,
.cellThree,
.cellFour {
  text-align: center;
}

.cellOne {
  width: 6%;
}

.cellTwo {
  width: 60%;
  cursor: pointer;
}

.cellThree,
.cellFour {
  width: 10%;
}

.cellFour {
  letter-spacing: -0.05em
}