@import '../../styles/vars';

.table {
  display: table-cell;
  width: 500px;
}

.cellOne,
.cellTwo,
.cellThree,
.cellFour {
  background-color: $base-itembg;
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  padding: 0 2px 1px 2px;

  @media only screen and (max-width: 530px) {
    font-size: 15px;
    padding-bottom: 0;
  }
}

.cellOne,
.cellThree,
.cellFour {
  text-align: center;
}

.cellOne {
  width: 6%;
  min-width: 20px;
}

.cellTwo {
  width: 60%;
  cursor: pointer;
  padding-left: 5px;
}

.cellThree,
.cellFour {
  width: 9%;
  min-width: 40px;
}

.cellFour {
  letter-spacing: -0.05em;
}
