@import '../../styles/vars';

input {
  width: 100%;
  box-sizing: border-box;
  margin: 3px 0 3px;
  flex-grow: 1;
  font-family: 'Segoe UI';
  font-size: 16px;
  border-radius: 5px;
  padding: 7px 0px 9px 8px;
  border: 2px solid $base-buttonborder;
}

.short {
  width: 60px;
}
