.About {
  margin-top: 20px;
  width: 420px;
  font-size: 14px;
}

.AboutMobile {
  margin-top: 20px;
  font-size: 18px;
  width: 352px;
}

.Paragraph {
  margin-bottom: 10px;
  text-align: justify;
  font-size: 14px;
}

.ParagraphMobile {
  margin-bottom: 10px;
  text-align: justify;
  font-size: 17px;
}

.FaArrowDown {
  color: darkred,
}

.FaArrowUp {
  color: darkgreen,
}

.FaCheck {
  color: darkgreen,
}

.FaBan {
  color: darkred,
}
