.Undo {
  font-size: 14px;
  padding: 3px;
  width: 25px;
  height: 22px;
  float: right;
  color: #555;
  border: none;
  border-radius: 2px;
  border: 1px solid #eee;
}
;
.Icon {
  text-align: center;
}

.Undo:hover {
  color: crimson;
  transition: all .2s ease-in;
  cursor: pointer;
}

.Undo:active {
  background-color: #ddd;
  transition: all .2s ease-in;
  cursor: pointer;
}