.WeekList {
  margin-top: 10px;
  text-align: left;
  width: 420px;
}



.WeekList li {
  list-style-type: none;
  margin-bottom: 3px;
  padding-left: 7px;
}

.WeekListMargin {
  margin-top: 10px;
  margin-left: 20px;
  text-align: left;
  width: 420px;
}

.WeekListMargin li {
  list-style-type: none;
  margin-bottom: 3px;
  padding-left: 7px;
}

.WeekListMobile {
  margin-top: 10px;
  text-align: left;
  line-height: 1.5em;
}

.WeekList h3 {
  text-align: left;
  font-size: 20px;
}

.WeekList li {
  list-style-type: none;
  margin-bottom: 3px;
  padding-left: 7px;
}

.WeekListMobile li {
  list-style-type: none;
  padding-left: 12px;
  margin-left: 20px;
}

.WeekList li a {
  text-decoration: none;
  color: #333;
}

.WeekList li a:hover {
  color: #363f54;
}

.BackLink {
  font-size: 14px;
  width: 350px;
  color: darkblue; 
  cursor: pointer;
}

.BackLinkMobile {
  font-size: 17px;
  width: 420px;
  color: darkblue;
}

.OtherUser {
  font-size: 14px;
  width: 350px;
  margin-bottom: 3px;
}

.OtherUserMobile {
  font-size: 17px;
  width: 350px;
  margin-bottom: 3px;
}

.Weeks, .WeeksMobile {
  border: 1px solid #444;
  background-color: #e7e7e7;
  border-radius: 2px;
  color: black;
  margin-bottom: 3px;
}

.Weeks {
  font-size: 14px;
  padding: 3px 5px 3px 5px;
}

.WeeksMobile {
  font-size: 18px;
  width: 334px;
  height: 24px;
  padding: 5px 5px 5px 5px;
}

.Weeks:hover {
  cursor: pointer;
}

.marginBottom {
  margin-bottom: 10px;
}