.WeekList {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 12px;
  text-align: left;
  width: 470px;
}

.WeekList h3 {
  text-align: left;
  margin-bottom: 10px;
  font-size: 20px;
}

.WeekList li {
  list-style-type: none;
  margin-bottom: 3px;
  font-size: 14px;
}

.WeekList li a {
  text-decoration: none;
  color: #333;
}

.WeekList li a:hover {
  color: #363f54;
}

.Weeks {
  border: 1px solid #444;
  background-color: #e7e7e7;
  padding: 5px 5px 5px 5px;
  border-radius: 2px;
}

.Weeks:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}