$base-bg: #d7d7d7;
$base-green: #3d9f40;
$base-green-active: #1a571c;
$base-red: #af4c4c;
$base-black: #111;
$base-red-active: #5f1313;
$base-dark: #333;
$base-buttonbg: #d1d1d1;
$base-border: #777;
$base-grey: #888;
$base-itembg: #e7e7e7;
$base-itemborder: #aaa;
$base-google: #4285f4;
$base-darkblue: #2573f2;
$base-question-green: rgba(0, 255, 0, 0.2);
$base-question-red: rgba(255, 0, 0, 0.2);
$question-red-answer: hsl(0, 76%, 34%);
$question-green-answer: #1e6b22;
$yesno-light: white;

$auth-width: 240px;
$row-height: 38px;
$row-height-mobile: 45px;
$max-width: 500px;
$header-height: 92px;
$header-height-mobile: 70px;

$fonts: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
  'Droid Sans', 'Helvetica Neue', sans-serif;
