$base-bg: #d7d7d7;
$base-green: #3d9f40;
$base-red: #5f1313;
$base-green-active: #1a571c;
$base-black: #111;
$base-dark: #333;
$base-buttonbg: #d1d1d1;
$base-border: #999;
$base-border-light: #ccc;
$base-grey: #888;
$base-itembg: #e7e7e7;
$base-itembg-slight: #ddd;
$base-itembg-active: #c7c7c7;
$base-itemborder: #aaa;
$base-google: #4285f4;
$base-darkblue: #2573f2;
$base-question-green: #1e8323;
$base-question-red: #ca0909;
$base-question-grey: #bbb;

$auth-width: 240px;
$row-height: 43px;
$row-height-mobile: 45px;
$max-width: 500px;
$header-height: 92px;
$header-height-mobile: 70px;

$base-duration: 0.15s;

$fonts: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
  'Droid Sans', 'Helvetica Neue', sans-serif;
