@import './vars';

.about {
  &__container {
    padding-left: 10px;
  }

  &__paragraph {
    padding: 0 0 8px;
    text-align: justify;
  }
}

.legend {
  padding: 0 0 8px;

  &__icon {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: $base-dark;
  }
}

.copyright {
  text-align: center;
}
