@import './vars';

.about-paragraph {
  text-align: justify;
  padding-bottom: 8px;
}

.about-copyright {
  text-align: center;
  padding: 10px;
}

.about-legend {
  padding-bottom: 8px;
}

.about-icon {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: $base-dark;
}
