@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes arrows-fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 0.4;
    transform: translateY(0);
  }
}

@keyframes fade-out-down {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(5px);
  }
}

@keyframes arrows-fade-out-down {
  0% {
    opacity: 0.4;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(100px);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.auth,
.container {
  opacity: 0;
  animation: fade-in-up 0.3s ease-in-out forwards;
}

.animate-fade-in-up {
  opacity: 0;
  animation: fade-in-up 0.3s ease-in-out forwards;
}

.animate-fade-out-down {
  opacity: 1;
  animation: fade-out-down 0.3s ease-in-out forwards;
}

.animate-fade-out {
  opacity: 1;
  animation: fade-out 0.02s ease-in-out forwards;
}

@keyframes showButton {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.animate-show-button {
  opacity: 0;
  animation: showButton 0.5s ease-in-out forwards;
}

@keyframes hideButton {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.animate-hide-button {
  opacity: 0.5;
  animation: hideButton 0.5s ease-in-out forwards;
}
