@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out-down {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(5px);
  }
}

@keyframes fade-out-right {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(30px);
  }
}

@keyframes fade-out-left {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-30px);
  }
}

@keyframes arrows-fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 0.4;
    transform: translateY(0);
  }
}

@keyframes arrows-fade-out-down {
  0% {
    opacity: 0.4;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}

.animate-fade-in-up {
  opacity: 0;
  animation: fade-in-up $base-duration ease-in-out forwards;
}

.animate-fade-out-down {
  opacity: 1;
  animation: fade-out-down $base-duration ease-in-out forwards;
}

.animate-fade-out-left {
  opacity: 1;
  animation: fade-out-left $base-duration ease-in-out forwards;
}

.animate-fade-out-right {
  opacity: 1;
  animation: fade-out-right $base-duration ease-in-out forwards;
}
