.arrows-container {
  cursor: pointer;
  width: 50px;
  bottom: 25px;
  left: 80%;
  gap: 10px;
  z-index: 100;
  -webkit-tap-highlight-color: transparent;
}

.arrows-show,
.arrows-hide {
  font-size: 50px;
}

.arrows-show {
  position: fixed;
  animation: arrows-fade-in-up 0.3s ease-in-out forwards;
}

.arrows-hide {
  position: fixed;
  animation: arrows-fade-out-down 0.3s ease-in-out forwards;
}

.arrows-green {
  color: $base-green-active;
  transition: $base-duration ease-in-out;
}

.arrows-grey {
  color: $base-grey;
  transition: $base-duration ease-in-out;
}
