@import './vars';

.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__data {
    display: flex;
    flex-direction: column;
    max-width: 220px;
    text-align: center;
    max-width: 220px;
    gap: 5px;
  }

  &__data {
    margin-top: 65px;
    min-width: 220px;
  }
}

.link-container {
  padding: 5px 0 5px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;

  &__inner {
    text-decoration: underline;
    color: $base-darkblue;
    cursor: pointer;
  }
}

.text-container {
  text-align: center;
  padding: 10px 0 10px;
}

.locale-div {
  margin-top: auto;
}
