@import './vars';

.auth {
  justify-content: center;
  align-items: center;

  &__data {
    width: 220px;
    text-align: center;
    margin-top: 65px;
  }

  &__text {
    font-size: 16px;
    margin-bottom: 10px;
  }

  &__text-margin {
    margin: 10px 0;
  }
}

.link-container {
  padding: 5px 0 5px;
  justify-content: center;

  &__inner {
    text-decoration: underline;
    color: $base-darkblue;
    cursor: pointer;
  }
}

.locale-div {
  margin-top: auto;
}
