@import './vars';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  font-size: 15px;
  font-family: $fonts;
  height: $row-height;
  border-radius: 5px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: 0.22s ease-in-out;

  background-color: $base-buttonbg;
  color: $base-black;
  border: 1px solid $base-border;
  margin: 2px 0;

  &:active {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 2px 2px rgba(0, 0, 0, 0.1);
    border: 2px solid $base-border;
  }

  &:disabled {
    cursor: not-allowed;
    color: $base-grey;
  }
}

.login {
  background-color: $base-dark;
  color: white;
}

.google {
  background-color: $base-google;
  color: white;
}

.editor-small {
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-width {
  max-width: $auth-width;
}
