@import './vars';

.editor-input {
  width: 100%;
}

.editor-form {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0 5px;
  border-radius: 5px;
  width: 100%;

  &__desc {
    height: 24px;
    display: flex;
    flex-grow: 1;
  }
}

.editor-question {
  display: flex;
  align-items: center;
  background-color: $base-itembg;
  border: 1px solid $base-itemborder;
  gap: 3px;
  padding: 3px;
  margin-bottom: 5px;
  border-radius: 5px;

  &__desc {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 3px 5px;
  }

  &__buttons {
    display: flex;
  }

  &__edit,
  &__trash {
    padding: 3px;
    font-size: 22px;
    cursor: pointer;
  }

  &__edit:hover,
  &__edit:active {
    color: $base-green-active;
    transition: 0.22s ease-in-out;
  }

  &__red:hover,
  &__red:active {
    color: $base-red;
    transition: 0.22s ease-in-out;
  }
}

.faBan {
  padding-right: 5px;
  color: $base-red;
}

.editor-activities-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  max-height: $row-height;
}

.editor-datetime {
  flex-grow: 1;
}

.editor-checkbox {
  display: flex;
  width: 110px;
  align-items: center;
  border: 1px solid $base-border;
  border-radius: 5px;
  padding: 0 5px;

  &__pad {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 4px;
  }

  &__box {
    height: 18px;
    cursor: pointer;
    padding: 5px;
  }
}

.short {
  width: 60px;
}
