@import './vars';

.header {
  background: black;
  height: $header-height;
  -webkit-tap-highlight-color: transparent;

  &__tab,
  &__tab-active,
  &__no-login {
    font-size: 45px;
    text-align: center;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    width: 1.635em;
    flex-grow: 1;
  }

  @media only screen and (max-width: $max-width) {
    &__tab,
    &__tab-active,
    &__no-login {
      width: 1.22em;
    }

    height: $header-height-mobile;
  }

  &__icons {
    display: flex;
    justify-content: center;
    max-width: 500px;
    padding-left: 15px;

    @media only screen and (max-width: $max-width) {
      padding: 0 5px 0 5px;
    }
  }

  &__tab {
    color: $base-bg;
  }

  &__tab-active {
    color: $base-green;
  }

  &__message {
    font-size: 14px;
  }

  &__icon-padding {
    padding-top: 12px;
  }
}
