@import './vars';

input {
  width: 100%;
  height: $row-height;
  box-sizing: border-box;
  flex-grow: 1;
  font-family: $fonts;
  font-size: 15px;
  border-radius: 5px;
  padding: 7px 7px 10px 7px;
  border: 1px solid $base-border;
  margin: 3px 0 3px;

  @media only screen and (max-width: $max-width) {
    height: $row-height-mobile;
    padding-bottom: 8px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.short {
  text-align: center;
  padding: 0 0 3px;
}

.timer {
  // width: 200px;
  cursor: pointer;
}

.checkbox {
  height: 15px;
  cursor: pointer;
}
