@import './vars';

.otheruser {
  border-radius: 5px;
  border: 1px solid $base-border;
  background-color: $base-buttonbg;
  font-size: 14px;
  margin: 5px 0 5px 0;
  padding: 5px;
  cursor: pointer;

  &__text {
    padding: 2px 0 2px;
  }
}
