@import './vars';

.standings-top-container {
  margin-bottom: 10px;

  &__title {
    display: flex;
    font-size: 16px;
    font-weight: 600;
    flex-grow: 1;
    align-items: center;
  }

  &__gear-on,
  &__gear-off {
    display: flex;
    padding: 2px;
    border-radius: $border-radius-base;
    font-size: 24px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    -webkit-tap-highlight-color: transparent;
  }

  &__gear-on {
    color: $base-green;
  }
}

.buddy {
  color: $darkgoldenrod;
}

.buddy-not {
  color: $base-itembg-active;
}

.standings {
  &__tools {
    display: grid;
    border: 1px solid $base-itemborder;
    border-radius: 5px;
    padding: 3px 5px;
    margin-bottom: 10px;
  }

  &__switchers {
    display: flex;
    gap: 5px;
    justify-content: space-evenly;
    border-radius: $border-radius-base;
    margin-bottom: 4px;
  }

  &__dark {
    background-color: $base-bg !important;
  }

  &__me {
    background-color: $base-standings-green !important;
  }

  &__search {
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  &__button {
    height: 36px;
  }

  &__header,
  &__row {
    display: flex;
    gap: 2px;
    margin: 2px 0;
  }
}

.col {
  display: flex;
  align-items: center;
  background-color: $base-itembg;
  border: 1px solid $base-itemborder;
  border-radius: $border-radius-base;
  letter-spacing: -0.02em;
  padding: 5px 0;
}

.pt6mob {
  @media only screen and (max-width: $max-width) {
    padding-top: 6px;
  }
}

.jcc {
  justify-content: center;
}

.col-zero,
.col-one {
  min-width: 26px;
}

.col-one {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  font-size: 16px;
}

.col-two {
  width: 61%;
  -webkit-tap-highlight-color: transparent;
  padding-left: 5px;

  &__bold {
    font-weight: 600;
  }
}

.col-three {
  min-width: 53px;
}

.col-four,
.col-five {
  width: 9%;
  min-width: 42px;
}

.col-dense {
  letter-spacing: -1px;
}

.tierline {
  text-align: justify;
  padding: 15px;
}

.select-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 36px;
}

.select-season {
  display: flex;
  flex-wrap: wrap;
  font-size: 15px !important;
}
