@import './vars';

.standings-header {
  display: flex;
  gap: 2px;
  margin: 2px 0;
}

.cellOne,
.cellTwo,
.cellThree,
.cellFour {
  background-color: $base-itembg;
  border: 1px solid $base-itemborder;
  padding: 2px 2px 4px 2px;
  border-radius: 5px;
}

.cellOne,
.cellThree,
.cellFour {
  text-align: center;
}

.cellOne {
  width: 6%;
  min-width: 20px;
}

.cellTwo {
  width: 61%;
  cursor: pointer;
  padding-left: 5px;
}

.cellThree,
.cellFour {
  width: 9%;
  min-width: 40px;
}

.cellFour {
  letter-spacing: -0.05em;
}

.tierline {
  text-align: justify;
  padding: 15px;
}
