@import './vars';

.standings-top-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-bottom: 5px;

  &__left {
    display: flex;
    font-size: 16px;
    font-weight: 600;
    flex-grow: 1;
    align-items: center;
  }

  &__grey,
  &__green {
    display: flex;
    padding: 2px;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    -webkit-tap-highlight-color: transparent;
  }

  &__grey {
    color: $base-black;
  }

  &__green {
    color: $base-green;
  }
}

.tools-container {
  &__closed {
    opacity: 0;
    transition: 0.22s ease-in-out;
  }

  &__open {
    opacity: 1;
    transition: 0.22s ease-in-out;
  }
}

.standings-tools {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: space-evenly;
  border-radius: 5px;
}

.standings-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-grow: 1;
}

.standings-header {
  display: flex;
  gap: 2px;
  margin: 2px 0;
}

.col-zero,
.col-two,
.col-three,
.col-four,
.col-five {
  background-color: $base-itembg;
  border: 1px solid $base-itemborder;
  padding: 5px 3px 4px;
  border-radius: 5px;
}

.dark {
  background-color: $base-bg;
}

.col-zero,
.col-one,
.col-three,
.col-four,
.col-five {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-zero,
.col-one {
  width: 6%;
  min-width: 20px;
}

.col-one {
  background-color: $base-itembg;
  border: 1px solid $base-itemborder;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 3px;
  -webkit-tap-highlight-color: transparent;
}

.col-two {
  width: 61%;
  cursor: pointer;
  padding-left: 5px;
  transition: 0.22s ease-in-out;

  &__bold {
    font-weight: 600;
    background-color: $standings-grey;
  }
}

.col-three,
.col-four,
.col-five {
  width: 9%;
  min-width: 40px;
}

.col-four {
  letter-spacing: -0.05em;
}

.tierline {
  text-align: justify;
  padding-top: 15px ;
}

.arrows-container {
  cursor: pointer;
  width: 50px;
  bottom: 25px;
  right: 50px;
  height: 125px;
  position: fixed;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.arrows-show {
  font-size: 50px;
  opacity: 0.4;
  transform: translateY(0);
  transition: 0.5s ease-in-out;
}

.arrows-hide {
  font-size: 50px;
  opacity: 0;
  transform: translateY(150px);
  transition: 0.5s ease-in-out;
}

//////////////////

@keyframes showButton {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.animate-show-button {
  opacity: 0;
  animation: showButton 0.5s ease-in-out forwards;
}

@keyframes hideButton {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.buttons-hide {
  bottom: -200px;
}

.animate-hide-button {
  opacity: 0.5;
  animation: hideButton 0.5s ease-in-out forwards;
}
