@import './vars';

.standings-top-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-bottom: 10px;

  &__title {
    display: flex;
    font-size: 16px;
    font-weight: 600;
    flex-grow: 1;
    align-items: center;
  }

  &__gear-on,
  &__gear-off {
    display: flex;
    padding: 2px;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    -webkit-tap-highlight-color: transparent;
  }

  &__gear-on {
    color: $base-green;
  }
}

.standings {
  &__tools {
    border: 1px solid $base-itemborder;
    border-radius: 5px;
    padding: 3px 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  &__switchers {
    display: flex;
    gap: 5px;
    justify-content: space-evenly;
    border-radius: 5px;
    margin-bottom: 4px;
  }

  &__dark {
    background-color: $base-bg !important;
  }

  &__search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-grow: 1;
  }

  &__button {
    height: 36px;
  }

  &__header {
    display: flex;
    gap: 2px;
    margin: 2px 0;
  }
}

.col-zero,
.col-one,
.col-two,
.col-three,
.col-four,
.col-five {
  display: flex;
  align-items: center;
  background-color: $base-itembg;
  border: 1px solid $base-itemborder;
  padding: 5px 1px;
  border-radius: 5px;
}

.col-zero,
.col-one,
.col-three,
.col-four,
.col-five {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-zero,
.col-one {
  min-width: 27px;
}

.col-one {
  background-color: $base-itembg;
  border: 1px solid $base-itemborder;
  border-radius: 5px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.col-two {
  width: 61%;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  padding-left: 5px;

  &__bold {
    font-weight: 600;
  }
}

.col-three {
  min-width: 41px;
}

.col-four,
.col-five {
  width: 9%;
  min-width: 41px;
}

.col-four {
  letter-spacing: -0.05em;
}

.tierline {
  text-align: justify;
  padding-top: 15px;
}
