@import './vars';

.switch-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  border-radius: 5px;
  max-height: 45px;
  width: fit-content;
}

.switch-inner-container {
  width: 35%;
  display: flex;
  align-items: center;
  padding: 2px;
  white-space: nowrap;
}

.inner-left {
  justify-content: flex-end;
}

.inner-right {
  justify-content: flex-start;
}

.switch {
  position: relative;
  display: inline-block;
  border: 1px solid $base-itemborder;
  border-radius: 34px;
  min-width: 60px;
  height: 34px;
  -webkit-tap-highlight-color: transparent;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $base-itembg;
  -webkit-transition: 0.22s ease-in-out;
  transition: 0.22s ease-in-out;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.22s ease-in-out;
  transition: 0.22s ease-in-out;
}

input:checked + .slider {
  background-color: $base-green;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 26px;
}

.slider.round:before {
  border-radius: 50%;
}
