@import './vars';

.yn {
  &__parent {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;

    @media only screen and (max-width: $max-width) {
      padding-right: 1px;
    }
  }

  &__btn:active {
    transition: 0.22s ease-in-out;
  }

  &__dark,
  &__grey,
  &__red,
  &__green {
    height: 32px;
    padding-top: 5px;
    font-size: 18px;
    width: 40px;
    transition: 0.22s ease-in-out;
  }

  &__green {
    background-color: $base-green;
    color: $yesno-light;
  }

  &__dark {
    background-color: $base-dark;
    color: $yesno-dark;
  }

  &__red {
    background-color: $base-red;
    color: $yesno-light;
  }
}
