@import './vars';

.yn {
  height: 32px;
  font-size: 20px;
  width: 40px;
  padding: 2px;
  transition: 0.22s ease-in-out;
  background-color: $base-itembg;
  border: none;

  &__container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
  }

  &__btn:active {
    transition: 0.22s ease-in-out;
  }
}

.yn-wrong {
  color: $base-question-red;
}

.yn-grey {
  color: $base-question-grey;
}

.yn-correct {
  color: $base-question-green;
}

.yn-admin,
.yn-black {
  color: $base-black;
  background-color: $base-itembg-slight;
}

.yn-admin {
  border: 1px solid $base-border-light;
}
