@import './vars';

.yn {
  &__parent {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
  }

  &__btn:active {
    transition: 0.22s ease-in-out;
  }

  &__dark,
  &__grey,
  &__red,
  &__green {
    height: 32px;
    font-size: 18px !important;
    width: 40px;
    padding: 2px;
    transition: 0.22s ease-in-out;
  }

  &__green {
    background-color: $base-green;
    color: $yesno-light;
  }

  &__dark {
    background-color: $base-dark;
    color: $base-itembg;
  }

  &__red {
    background-color: $base-red;
    color: $yesno-light;
  }
}
