body {
  background-color: lightgrey;
  font-family: "Arial";
}

.Week {
  margin-top: 10px;
  font-size: 13px;
  text-align: left;
}

.WeekMobile {
  font-size: 13px;
  text-align: left;
  width: 350px;
}

.Week h3 {
  text-align: left;
  margin-bottom: 10px;
  font-size: 16px;
}

.QuestionTotal {
  width: 420px;
}

.QuestionTotalMobile {
  width: 340px;
}

.QuestionsDefault {
  font-size: 13px;
  display: block;
  background-color: #e7e7e7;
  border: 1px solid #777;
  padding: 6px 3px 6px 6px;
  border-radius: 2px;
  margin-bottom: 3px;
  height: 15px;
  width: 409px;
}

.QuestionsDefaultMobile {
  font-size: 16px;
  display: table;
  vertical-align: middle;
  line-height: 0.9em;
  height: 28px;
  background-color: #e7e7e7;
  border: 1px solid #777;
  padding: 1px 2px 6px 6px;
  border-radius: 2px;
  margin-bottom: 3px;
  width: 341px;
}

.QuestionInner {
  width: 350px;
}

.QuestionInnerMobile {  
  display: table-cell;
  font-size: 16px;
  width: 255px;
  height: 28px;
  padding: 4px 0 0 0;
}

.QuestionButtons {
  display: table-cell;
  vertical-align: middle
}

.QuestionButtonsMobile {
  float: right;
  margin-top: -3px;
}

.Countdown, .CountdownMobile {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 2px;
  padding: 5px 0px 5px 0px;
}

.Countdown {
  background-color: #e7e7e7;
  border: 1px solid #777;
  height: 15px;
  font-size: 13px;
  width: 413px;
  padding-left: 5px;
}

.CountdownMobile {
  background-color: #d3d3d3;
  border: none;
  height: 20px;
  font-size: 15px;
}

.AnswerCorrect {
  border: 1px solid green;
  background-color: #dff6df;
}

.AnswerWrong {
  border: 1px solid red;
  background-color: #f9e5e5;
}

.Back {
  font-size: 13px;
  width: 420px;
}

.BackBlue {
  color: darkblue; 
  cursor: pointer;
  font-size: 13px;
  margin-bottom: 10px;
  width: 420px;
}

.OthersName {
  margin-top: 7px;
  margin-bottom: 3px;
  font-size: 13px;
}

.Questions:hover {
  background-color: #d9d9d9;
}

.QuestionsBlock, .QuestionsBlockMobile {
  margin-bottom: 10px;
}

.QuestionsBlockMobile {
  margin-left: -0.1em;
}

.SaveNotify, .SaveNotifyMobile {
  margin-bottom: 10px;
  color: rgb(210, 0, 0);
}

.SaveNotify {
  margin-top: 10px;
  font-size: 13px;
  width: 350px;
}

.SaveNotifyMobile {
  margin-top: -5px;
  font-size: 16px;
  width: 330px;
}

.UnfinishedWeek {
  margin-bottom: 5px;
  font-size: 15px;
}

.h3, .h3Mobile {
  width: 330px;
}

.h3 {
 font-size: 16px;
}

.h3Mobile {
  font-size: 20px;
}