body {
  background-color: lightgrey;
  font-family: "Arial";
}

.Week {
  margin-top: 10px;
  font-size: 13px;
  text-align: left;
  width: 470px;
}

.Week h3 {
  text-align: left;
  margin-bottom: 10px;
  font-size: 15px;
}

.Questions {
  background-color: #e7e7e7;
  padding: 10px 10px 10px 10px;
  border-radius: 2px;
  margin-bottom: 3px;
  background-color: #e7e7e7;
}

.QuestionCorrect {
  border: 2px solid green;
}

.QuestionWrong {
  border: 2px solid red;
}

.QuestionUntouched {
  border: 2px solid #999;
}

.Questions:hover {
  background-color: #d9d9d9;
}

.QuestionsBlockMargin {
  margin-bottom: 10px;
}