body {
  background-color: lightgrey;
  font-family: "Arial";
}

.Week {
  margin-top: 10px;
  font-size: 13px;
  text-align: left;
}

.WeekMobile {
  margin-top: 10px;
  font-size: 13px;
  text-align: left;
  width: 360px;
}

.WideButton {
  width: 200px
}

.Week h3 {
  text-align: left;
  margin-bottom: 10px;
  font-size: 16px;
}

.QuestionTotal {
  width: 420px;
}

.QuestionTotalMobile {
  width: 340px;
}

.QuestionsDefault {
  font-size: 13px;
  display: block;
  background-color: #e7e7e7;
  border: 1px solid #777;
  padding: 6px 3px 6px 6px;
  border-radius: 2px;
  margin-bottom: 3px;
  height: 15px;
  width: 420px;
}

.QuestionsDefaultMobile {
  font-size: 16px;
  display: table;
  vertical-align: middle;
  line-height: 0.9em;
  height: 28px;
  background-color: #e7e7e7;
  border: 1px solid #777;
  padding: 1px 2px 6px 6px;
  border-radius: 2px;
  margin-bottom: 3px;
  width: 340px;
}

.QuestionInner {
  width: 340px;
}

.QuestionInnerMobile {  
  display: table-cell;
  font-size: 16px;
  width: 260px;
  height: 28px;
  padding: 4px 0 0 0;
}

.QuestionButtons {
  display: table-cell;
  vertical-align: middle
}

.QuestionButtonsMobile {
  float: right;
  margin-top: -3px;
  margin-left: -25px;
}

.Countdown {
  display: flex;
  margin-top: 5px;
  border: 1px solid #777;
  padding: 5px 5px 5px 6px;
  border-radius: 2px;
  background-color: #e7e7e7;
  margin-bottom: 5px;
  height: 15px;
  width: 418px;
}

.CountdownMobile {
  display: flex;
  font-size: 16px;
  height: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.AnswerCorrect {
  border: 1px solid green;
  background-color: #dff6df;
}

.Back {
  font-size: 13px;
  width: 420px;
}

.BackBlue {
  color: darkblue; 
  cursor: pointer;
  font-size: 13px;
  margin-bottom: 10px;
  width: 420px;
}

.OthersName {
  margin-bottom: 3px;
  font-size: 13px;
  margin-left: 8px;
}

.AnswerWrong {
  border: 1px solid red;
  background-color: #f9e5e5;
}

.Questions:hover {
  background-color: #d9d9d9;
}

.QuestionsBlock {
  margin-bottom: 10px;
}

.QuestionsBlockMobile {
  margin-bottom: 10px;
  margin-left: -2px;
}

.SaveNotify {
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(210, 0, 0);
  font-size: 13px
}

.SaveNotifyMobile {
  margin-top: -5px;
  margin-bottom: 10px;
  color: rgb(210, 0, 0);
  font-size: 16px;
}