@import '../../styles/vars';

.header {
  background: black;
  height: 90px;

  &__tab,
  &__tab-active,
  &__no-login {
    font-size: 40px;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
    width: 67px;
  }

  @media only screen and (max-width: 500px) {
    &__tab,
    &__tab-active,
    &__no-login {
      width: 55px;
    }

    height: 65px;
  }

  &__icons {
    display: flex;
    padding-left: 5px;
  }

  &__tab {
    color: $base-grey;
  }

  &__no-login {
    color: $base-dark;
  }

  &__tab-active {
    color: $base-green;
  }

  &__message {
    font-size: 14px;
  }

  &__icon-padding {
    padding-top: 12px;
  }
}
