body {
  background-color: lightgrey;
  font-family: "Arial";
}

.Week {
  margin-top: 10px;
  font-size: 13px;
  text-align: left;
}

.WeekMobile {
  font-size: 13px;
  text-align: left;
  width: 350px;
}

.Week h3 {
  text-align: left;
  margin-bottom: 10px;
  font-size: 16px;
}

.QuestionsDefault, .QuestionsDefaultMobile {
  display: table;
  vertical-align: middle;
  background-color: #e7e7e7;
  border: 1px solid #777;
  border-radius: 2px;
  margin-bottom: 3px;
}

.QuestionsDefault {
  font-size: 13px;
  line-height: 0.9em;
  padding: 4px 3px 4px 5px;
  height: 25px;
  width: 400px;
}

.QuestionsDefaultMobile {
  font-size: 16px;
  height: 28px;
  line-height: 0.9em;
  padding: 1px 2px 6px 6px;
  width: 341px;
}


.QuestionInner, .QuestionInnerMobile {  
  display: table-cell;
  vertical-align: center;
  height: 28px;
}

.QuestionInner {
  width: 329px;
  line-height: 1em;
  height: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.QuestionInnerMobile {
  font-size: 16px;
  width: 260px;
  padding: 4px 0 0 0;
}

.QuestionButtonsMobile {
  float: right;
}

.Countdown, .CountdownMobile {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 2px;
}

.Countdown {
  background-color: #e7e7e7;
  border: 1px solid #777;
  height: 15px;
  font-size: 13px;
  width: 409px;
  padding-left: 7px;
  padding: 5px 0px 5px 7px;
}

.CountdownMobile {
  background-color: #d3d3d3;
  border: none;
  height: 20px;
  font-size: 15px;
  padding: 5px 0px 5px 0px;
}

.AnswerCorrect {
  border: 1px solid green;
  background-color: #dff6df;
}

.AnswerWrong {
  border: 1px solid red;
  background-color: #f9e5e5;
}

.OthersName {
  margin-top: 7px;
  margin-bottom: 3px;
  font-size: 13px;
}

.Questions:hover {
  background-color: #d9d9d9;
}

.QuestionsBlock {  
  margin-bottom: 3px;
}

.QuestionsBlockMobile {
  margin-bottom: 5px;
}

.SaveNotify, .SaveNotifyMobile {
  color: rgb(210, 0, 0);
}

.SaveNotify {
  margin-bottom: 4px;
  margin-top: 10px;
  font-size: 13px;
  width: 350px;
}

.SaveNotifyMobile {
  margin-bottom: 5px;
  margin-top: 8px;
  font-size: 16px;
  width: 330px;
}

.UnfinishedWeek {
  margin-bottom: 5px;
  font-size: 15px;
}

.h3, .h3Mobile {
  width: 330px;
}

.h3 {
 font-size: 16px;
}

.h3Mobile {
  font-size: 20px;
}