.About {
  margin-top: 20px;
  width: 420px;
  font-size: 14px;
}

.AboutMobile {
  margin-top: 20px;
  width: 360px;
  font-size: 18px;
}

.Paragraph {
  margin-bottom: 10px;
  text-align: justify;
  font-size: 14px;
}

.ParagraphMobile {
  margin-bottom: 10px;
  text-align: justify;
  font-size: 17px;
  width: 360px;
}