.Container, .ContainerMobile {
  margin-top: 20px;
  margin-left: 20px;
}

.Container {
  font-size: 14px;
  width: 420px;
}

.ContainerMobile {
  margin-bottom: 15px;
  width: 360px;
}

.ContainerMobileMod {
  margin-left: 20px;
  margin-top: 20px;
}

.Container h3 {
  font-size: 17px;
}

.ContainerMobile h3 {
  font-size: 20px;
}