.Week {
  width: 70px;
  float: left;
}

.Name {
  width: 340px;
  float: right;
}

.Total {
  width: 70px;
  float: right;
}

.Line {
  width: 340px;
  float: left;
}

.Inputs {
  width: 420px;
}

.row {
  display: flex; 
  flex-direction: row;
}

.QuestionsList {
  margin-top: 4px;
  margin-bottom: 10px;
}

.WeekCreator {
  display: block;
  justify-content: center;
  padding-top: 20px;
  width: 420px;
  height: 500px;
  background: #d3d3d3;
}

.Buttons {
  width: 100%;
  display: flex;
  padding: 5px 5px 5px 0px;
}

.Button {
  margin-left: 100px;
  margin-right: 5px;
  float: left;
  padding: 5px 5px 5px 5px
}

.WeekCreator > div {
  width: 100%;
  max-width: 500px;
}

.WeekCreator h3 {
  text-align: left;
  margin-bottom: 10px;
  font-size: 20px;
}

.WeekCreator form {
  background: #eee;
  border: 1px solid;
  border-radius: 2px;
  padding: 15px;
}

.Undo {
  font-size: 13px;
  border: 1px solid #f11;
}

.Edit {
  font-size: 13px;
  border: 1px solid #f11;
}