.QuestionsList {
  margin-top: 4px;
  margin-bottom: 10px;
}

.WeekCreator {
  display: block;
  justify-content: center;
  width: 420px;
  height: 500px;
  background: #d3d3d3;
}

.WeekCreatorMobile {
  display: block;
  justify-content: center;
  width: 360px;
  margin-top: 20px;
  margin-left: 20px;
  background: #d3d3d3;
}

.ButtonsMobile {
  margin-bottom: 15px;
}

.Button {
  margin-left: 100px;
  margin-right: 5px;
  float: left;
  padding: 5px 5px 5px 5px
}

.WeekCreator > div {
  width: 100%;
  max-width: 500px;
}

.WeekCreator h3 {
  text-align: left;
  margin-bottom: 10px;
  font-size: 20px;
}

.WeekCreator form {
  background: #eee;
  border: 1px solid;
  border-radius: 2px;
  padding: 15px;
}

.Undo {
  border: 1px solid #f11;
}

.CountDown {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.CountDownMobile {
  font-size: 17px;
  margin-top: 10px;
}

.Edit {
  border: 1px solid #f11;
}

.Questions, .QuestionsMobile {  
  background-color: #e7e7e7;
  border: 1px solid #777;
  border-radius: 2px;
  margin-bottom: 3px;
  display: table;
}

.QuestionInnerEditorMobile {
  padding-top: 1px;
  font-size: 16px;
  width: 280px;
  line-height: 0.9em;
}

.QuestionInnerEditor {
  font-size: 14px;
  width: 350px;
}

.UndoEdit {
  margin-top: -20px;
  margin-left: 3px;
}

.ActivityMobile, .Activity {
  margin-bottom: 10px;
}

.ActivityMobile {
  margin-top: 5px;
}

.QuestionsSelected, .QuestionsSelectedMobile {
  border: 1px solid #555;
  border-radius: 2px;
  margin-bottom: 3px;
}

.Questions, .QuestionsSelected {
  font-size: 14px;
  height: 34px;
  padding-left: 5px;
  width: 414px;
}

.Questions {
  background-color: #e7e7e7;
}

.QuestionsSelected {
  background-color: #d1e4d3;
}

.QuestionsMobile, .QuestionsSelectedMobile {
  font-size: 16px;
  display: table;
  height: 34px;
  padding-left: 5px;
  width: 344px;
}

.QuestionsMobile {
  background-color: #e7e7e7;
}

.QuestionsSelectedMobile {
  background-color: #d1e4d3;
}

.QuestionsList {
  margin-top: 4px;
  margin-bottom: 10px;
}

.WeekCreator {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  width: 420px;
  background: #d3d3d3;
}

.FloatLeft {
  width: 70px;
  float: left;
}

.Name {
  width: 340px;
  float: right;
}

.Total {
  width: 70px;
  float: right;
}

.Line {
  width: 330px;
  float: left;
}

.Inputs {
  width: 422px;
  margin-top: 15px;
  margin-left: -1px;
}

.InputsMobile {
  width: 351px;
  margin-left: -0.1em;
  margin-top: 10px;
}

.Row {
  width: 420px;
}

.Picker {
  margin-top: 10px;
  margin-bottom: 12px;
}

.RowMobile {
  width: 360px;
}

.checkbox {
  color: red
}

.QuestionsInner {
  margin-top: -2px;
}