.Week {
  width: 60px;
  float: left;
}

.Name {
  width: 330px;
  float: right;
}

.Total {
  width: 70px;
  float: right;
}

.Line {
  width: 320px;
  float: left;
}

.Inputs {
  width: 400px;
}

.row {
  display: flex; 
  flex-direction: row;
}

.QuestionsList {
  margin-top: 4px;
  margin-bottom: 10px;
}

.WeekCreator {
  display: block;
  justify-content: center;
  padding-top: 20px;
  width: 100%;
  height: 500px;
  background: #d3d3d3;
}

.WeekCreator > div {
  width: 100%;
  max-width: 500px;
}

.WeekCreator h3 {
  text-align: left;
  margin-bottom: 10px;
  font-size: 20px;
}

.WeekCreator form {
  background: #eee;
  border: 1px solid;
  border-radius: 2px;
  padding: 15px;
}

.Undo {
  font-size: 13px;
  border: 1px solid #f11;
}

.Edit {
  font-size: 13px;
  border: 1px solid #f11;
}