.button {  
  border-color: #8b8f98;
  background-color: #ebedef;
  color: #0f1111;
  border: 1px solid #777;

  border-radius: 2px;
  margin-left: 5px;
  margin-top: -5px;
  padding: 4px 10px 1px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s;
}

.buttonsDiv {
  float: right
}

.button:active {
  border-color: #2f3136;
  background-color: #c1c1c1;
  box-shadow: inset 2px 2px 1px rgba(0, 0, 0, .3);
}

.selected {  
  transition: all 0.22s;
  color: #ebedef;
}

.green.selected {
  background-color: #4daf50;
}

.green.selected:active {
  background-color: #257227;
}

.red.selected {
  background-color: #af4c4c;
}

.red.selected:active {
  background-color: #902c2c;
}