.button {  
  border-color: #8b8f98;
  background-color: #ebedef;
  color: #0f1111;
  width: 30px;
  border: 1px solid #777;
  border-radius: 2px;
  margin-left: 5px;
  margin-top: -3px;
  padding: 2px 0 0 0;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.2s;
}

.buttonsDiv {
  float: right
}

.button:active {
  border-color: #2f3136;
  background-color: #c1c1c1;
  box-shadow: inset 2px 2px 1px rgba(0, 0, 0, .3);
}

.selected {  
  transition: all 0.22s;
  color: #ebedef;
  background-color: #555;
}