.question {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 0 3px;
  padding: 3px;
  border: 1px solid grey;
  border-radius: 5px;

  &__desc {
    flex-grow: 1;
  }

  &__red {
    background-color: rgb(255, 201, 201);
  }

  &__grey {
    background-color: #e1e1e1;
  }

  &__green {
    background-color: rgb(205, 255, 205);
  }

  &__actions {
    display: flex;
  }

  &__button {
    width: 30px;
    height: 20px;
    margin: 3px;
    border-radius: 3px;
  }
}

.week-header {
  font-size: 17px;
  font-weight: bold;
}

.countdown {
  padding-bottom: 10px;
  font-size: 15px;
}