@import '../../index.scss';

$button-bg-color: #ebedef;
$border: 1px solid #777;
$border-hover: 1px solid #444;
$border-color: #8b8f98;
$button-bg-dark: #c1c1c1;
$font-color: #0f1111;
$bg-main-dark: #e7e7e7;
$box-shadow-thin: 0px 1px 2px 0 rgba(50, 50, 50, .14);
$width: 450px;

body {
  background-color: lightgrey;
  font-family: "Arial";
}

.header {
  border: $border;
  background-color: $bg-main-dark;
  box-shadow: $box-shadow-thin;
  width: $width;

  padding: 10px 10px 10px 10px;
  text-align: left;
  margin-top: 15px;
  margin-left: 15px;  
  margin-bottom: 7px;
  font-size: 13px;
}

.question {
  border: $border;
  background-color: $bg-main-dark;
  width: $width;
  box-shadow: $box-shadow-thin;

  padding: 10px 10px 10px 10px;
  text-align: left;
  margin-top: 5px;
  margin-left: 15px;
  font-size: 13px;
}

.question:hover {
  border: $border-hover;
}

.submit {
  color: $font-color;
  background-color: $button-bg-color;
  border: $border;

  transition: all 0.25s;
  position: relative;
  border-width: 1px;
  padding: 2px 10px 2px 10px;
  margin-top: 7px;
  margin-left: 15px;
  height: 35px;
  width: 100px;
  cursor: pointer
}

.submit:active {
  transition: all 0.2s;
  border: $border-hover;
  background-color: $button-bg-dark;
}

