.question {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 0 3px;
  height: 34px;
  padding: 2px 2px 2px 8px;
  border: 1px solid grey;
  background-color: #e3e3e3;
  border-radius: 5px;

  &__admplayer {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__desc {
    flex-grow: 1;
  }

  &__red {
    background-color: rgb(255, 235, 235);
  }

  &__grey {
    background-color: #e1e1e1;
  }

  &__green {
    background-color: rgb(235, 255, 235);
  }

  &__actions {
    display: flex;
  }

  &__button {
    width: 30px;
    height: 20px;
    margin: 3px;
    border-radius: 3px;
  }
}

.week-header {
  font-size: 17px;
  font-weight: bold;
}

.countdown {
  padding: 0 0 7px 10px;
  font-size: 14px;
}