.ActiveGamesNotify {
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.ActiveGamesNotifyMobile, .ActiveGamesNotify {
  text-align: center;
}

.ActiveGamesNotifyMobile {
  font-size: 15px;
  margin-bottom: 5px;
}


.Back {
  font-size: 13px;
  width: 420px;
}

.BackBlue {
  color: darkblue; 
  cursor: pointer;
  font-size: 13px;
  margin-bottom: 8px;
}