@import '../../styles/vars';

.otheruser {
  border-radius: 5px;
  border: 1px solid $base-buttonborder;
  background-color: $base-buttonbg;
  font-size: 14px;
  margin: 5px 0 5px 0;
  cursor: pointer;
}