@import '../styles/vars';

.auth {
  height: 60vh;
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: center;
  max-width: 500px;

  &__container {
    width: 100%;
    max-width: 210px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 30px;
  }

  &__textBox {
    height: 42px;
    padding: 0 10px 0 10px;
    width: calc(100% - 24px);
    margin: 3px 0 3px;
  }
}
