.auth {
  height: 60vh;
  max-width: 500px;
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: center;

  &__container,
  &__profile {
    align-items: center;
    display: flex;
    // max-width: 400px;
    flex-direction: column;
    padding: 30px;
  }

  &__textBox {
    padding: 10px;
    height: 23px;
    min-width: 250px;
    font-size: 16px;
    margin-bottom: 10px;
    outline: none;
  }

  &__btn {
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    border: none;
    color: white;
    background-color: black;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;

    &__inactive {
      cursor: not-allowed !important;
      color: #999 !important;
    }
  }

  &__google {
    background-color: #4285f4;
  }

  &__dashboard {
    background-color: #c1c1c1;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid grey;
    color: black;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;

    &:active {
      background-color: #b1b1b1;
      border: 1px solid black;
    }
  }

  &__name {
    font-size: 17px;
    margin-bottom: 5px;
  }

  &__data-div {
    font-size: 17px;
    width: 250px;
    padding-bottom: 24px;
    text-align: center;
  }
}

.p5 {
  padding: 5px;
}
