*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.Container {
  display: flex;
}

.Column {
  display: table-cell;
}

.Main {
  width: 100%;
  padding: 20px;
}

.MainMobile {
  width: 360px;
  font-size: 17px;
}

.SidebarOpen, .SidebarClosed {
  background: black;
  color: lightgrey;
  height: 100%;
  transition: all .22s ease-in;
}

.SidebarOpen {
  width: 170px
}

.SidebarClosed {
  width: 47px;
}

.SidebarMobile {
  background: #000;
  color: lightgrey;
  height: 60px;
  width: 100%;
}

.ib {
  display: inline-block
}

.Bars {
  display: flex;
  font-size: 23px;
  margin-left: .5em;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.TopIcons {
  font-size: 35px;
  margin-top: 10px;
}

.Link {
  display: flex;
  color: lightgrey;
  padding: 10px 15px;
  gap: 15px;
}

.Link:hover {
  background: #3d9f40;
  color: #000;
  transition: all .12s;
}

.Active {
  background: #257227;
  color: lightgrey;
}

.Icon {
  font-size: 15px;
}

.IconMobile {
  font-size: 25px;
  padding: 0 0 0 7px;
}

.LinkTextMobile {
  font-size: 24px;
}

.FirstActive, .FirstInactive {
  font-size: 44px;
  margin-top: 7px;
  margin-left: 17px;
}

.OthersActive, .OthersInactive {
  font-size: 36px;
  margin-top: 5px;
  margin-left: 12px;
  margin-right: 3px;
}

.FirstActive {
  color: #3d9f40;
}

.FirstInactive {
  color: #d3d3d3;
}

.OthersActive {
  color: #3d9f40;
}

.OthersInactive {
  color: #d3d3d3;
}