*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.Container {
  display: flex;
}

.ContainerMobile {
  display: flex;
}

.Table {
  display: table;
}

.Column {
  display: table-cell;
}

.Main {
  width: 100%;
  padding: 20px;
}

.MainMobile {
  width: 370px;
}

.Sidebar {
  background: #000;
  color: lightgrey;
  height: 120vh;
  width: 100px;
  transition: all .2s ease-in;
}

.ib {
  display: inline-block
}

.SidebarMobile {
  background: #000;
  color: lightgrey;
  height: 60px;
  width: 300px;
  transition: all .2s ease-in;
}

.TopSection {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.TopSectionMobile {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.Bars {
  display: flex;
  font-size: 24px;
  margin-left: 30px;
}

.BarsMobile {
  display: flex;
  font-size: 36px;
  padding: 0 0 0 6px;
}

.TopIcons {
  font-size: '35px';
  margin-left: '20px';
  margin-top: '10px'
}

.Link {
  display: flex;
  color: lightgrey;
  padding: 10px 15px;
  gap: 15px;
}

.LinkMobile {
  display: flex;
  color: lightgrey;
  padding: 10px 15px;
  gap: 15px;
}

.MenuHeader {
  display: flex;
  color: lightgrey;
  padding: 0px 9px;
  gap: 15px;
}

.MenuHeaderMobile {
  display: flex;
  color: lightgrey;
  padding: 0px 9px;
  gap: 15px;
}

.Link:hover {
  background: #3d9f40;
  color: #000;
  transition: all .12s;
}

.Active {
  background: #257227;
  color: lightgrey;
}

.Icon {
  font-size: 15px;
}

.IconMobile {
  font-size: 25px;
  padding: 0 0 0 7px;
}

.LinkText {
  font-size: 15px;
  display: table-cell;
  vertical-align: middle;
}

.LinkTextMobile {
  font-size: 24px;
}