body {
  background-color: lightgrey;
  font-family: "Arial";
}

.Weekly {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 13px;
  text-align: left;
  width: 470px;
}

.Weekly h3 {
  text-align: left;
  margin-bottom: 10px;
  font-size: 20px;
}