.Table {
  width: 417px;
  font-size: 14px;
  margin-top: 20px;
}

.TableMobile {
  width: 352px;
  margin-top: 20px;
}

.colOneMobile, .colTwoMobile, .colThreeMobile, .colFourMobile, .colFiveMobile {
  font-size: 15px;
}

.colOne {
  width: 40px;
  text-align: center
}

.colOneMobile {
  font-weight: 400;
  width: 22px;
  text-align: center
}

.colTwo {
  width: 165px;
  text-align: left
}

.colTwoMobile {
  width: 143px;
  font-weight: 550;
  text-align: left
}


.colThree {
  width: 75px;
  font-weight: 400;
  text-align: center
}

.colThreeMobile {
  width: 69px;
  font-weight: 400;
  text-align: center
}

.colFour {
  text-align: center;
  font-weight: 600
}

.colFourMobile {
  text-align: center;
  font-weight: 600
}

.colFive {
  font-weight: 400;
  text-align: center
}

.colFiveMobile {
  font-weight: 400;
  text-align: center
}

.colFour, .colFive {
  width: 65px;
}

.colFourMobile, .colFiveMobile {
  width: 54px;
}

.userOut{
  color: red
}


.ClickNotify {
  margin-top: 10px;
  font-size: 15px;
  width: 100%;
}

.RowGrey {
  background-color: #d3d3d3
}

.RowLightGrey {
  background-color: #e3e3e3
}

.MarginBottom {
  margin-bottom: 15px;
}

.MarginBottomMobile {
  margin-bottom: 5px;
}

.Line {
  width: 417px
}

.LineMobile {
  width: 349px
}

.headerMargins {
  margin-left: 0.1em
}

.headerMarginsMobile {
  margin-left: 1px
}

.ninetyMargin {
  margin-left: 3px;
}