.Table {
  width: 420px;
  font-size: 13px;
  margin-top: 20px
}

.TableMobile {
    width: 370px;
    font-size: 17px;
    margin-top: 20px
}

.colOne {
  width: 200px;
  text-align: left
}

.colOneMobile {
  width: 150px;
  text-align: left
}

.colTwo {
  width: 60px;
  text-align: center
}

.colTwoMobile {
  width: 90px;
  text-align: center
}