.Table {
  width: 420px;
  font-size: 13px;
  margin-top: 20px;
}

.TableMobile {
    width: 352px;
    font-size: 16px;
    margin-top: 20px;
}

.colOne {
  width: 40px;
  text-align: center
}

.colOneMobile {
  width: 30px;
  text-align: center
}

.colTwo {
  width: 200px;
  text-align: left
}

.colTwoMobile {
  width: 161px;
  text-align: left
}

.colThree {
  width: 60px;
  text-align: center
}

.colThreeMobile {
  width: 50px;
  text-align: center
}

.ClickNotifyMobile {
  margin-top: 10px;
  font-size: 16px;
  width: 100%;
}

.ClickNotify {
  margin-top: 10px;
  font-size: 16px;
  width: 100%;
}