.Table {
  width: 417px;
  font-size: 13px;
  margin-top: 20px;
}

.TableMobile {
    width: 352px;
    font-size: 16px;
    margin-top: 20px;
}

.colOne {
  width: 40px;
  text-align: center
}

.colOneMobile {
  width: 30px;
  text-align: center
}

.colTwo {
  width: 190px;
  text-align: left
}

.colTwoMobile {
  width: 161px;
  text-align: left
}

.colThree {
  width: 60px;
  text-align: center
}

.colThreeMobile {
  width: 50px;
  text-align: center
}

.ClickNotify {
  margin-top: 10px;
  font-size: 16px;
  width: 100%;
}

.RowGrey {
  background-color: #d3d3d3
}

.RowLightGrey {
  background-color: #e3e3e3
}

.MarginBottom {
  margin-bottom: 15px;
}

.MarginBottomMobile {
  margin-bottom: 5px;
}

.Line {
  width: 417px
}

.LineMobile {
  width: 349px
}