.DivContainer, .DivContainerMobile {
  color: black
}

.DivContainer, .DivContainerRed {
  font-size: 14px;
}

.DivContainerRed, .DivContainerRedMobile {
  color: red;
}

.DivContainerMobile, .DivContainerRedMobile {
  font-size: 17px;
}