$border-color: #adb1b8;
$font-color: #0f1111;
$font-color-light: #777;
$button-bg-color: #ebedef;
$button-bg-dark: #dbdddf;
$border-color-pressed: #bbbdbf;
$bg-main: #f5fff5;
$bg-main-dark: #e7e7e7;
$box-shadow-thin: 0px 1px 2px 0 rgba(50, 50, 50, .14);
$box-shadow-bold: 0px 1px 2px 0 rgba(0, 0, 0, .20);

.header, .question, .submit {
  margin-left: 40px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
