@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: normal;
  font-size: 15px;
  box-sizing: border-box;
  background-color: #d7d7d7;
  --toastify-color-success: #3d9f40;
}

/* .Toastify__toast-container {
  left: calc(min(50%, 32rem) - 72px);
} */
