.WeekCreator {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  width: 100%;
  height: 500px;
  background: #d3d3d3;
}

.WeekCreator > div {
  width: 100%;
  max-width: 500px;
  padding: 0px 20px;
}

.WeekCreator h3 {
  text-align: left;
  margin-bottom: 10px;
  font-size: 20px;
}

.WeekCreator form {
  background: #eee;
  border: 1px solid;
  border-radius: 2px;
  padding: 15px;
}