.WeekEditor {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  height: 500px;
  background: #d3d3d3;
}

.WeekEditor h3 {
  text-align: left;
  margin-bottom: 10px;
}

.WeekEditor form {
  background: #eee;
  border: 1px solid;
  border-radius: 2px;
  padding: 15px;
}

.WeekEditor li {
  list-style-type: none;
  margin-bottom: 3px;
  font-size: 14px;
}

.WeekEditor li a {
  text-decoration: none;
  color: #333;
}

.WeekEditor li a:hover {
  color: #363f54;
}

.WeekEditor > div {
  width: 100%;
  max-width: 500px;
  padding: 0px 20px;
}

.Total {
  width: 70px;
  float: right;
}

.Inputs {
  width: 400px;
}

.Line {
  width: 320px;
  float: left;
}

.QuestionsList {
  margin-top: 4px;
  margin-bottom: 10px;
}

.Questions {
  background: #eee;
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 2px;
  border: 1px solid #111;
  padding: 2px 2px 2px 7px;
  height: 24px;
  border-radius: 2px;
  border-color: #777;
}

.QuestionsActive {  
  background: rgb(225, 200, 200);
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 2px;
  border: 1px solid #111;
  padding: 2px 2px 2px 7px;
  height: 24px;
  border-radius: 2px;
  border-color: #777;
}