body {
  background-color: lightgrey;
  font-family: "Arial";
}

.input {
  border: 1px solid #444;
  border-radius: 2px;
  margin-bottom: 5px;
  outline: none;
  height: 25px;
}

.tierline {
  margin-bottom: 15px;
  font-size: 14px;
  text-align: left
}

.Auth {
  display: block;
  justify-content: center;
  padding: top;
  flex-grow: 1;
  width: 250px;
}

.Auth > div {
  width: 100%;
  max-width: 500px;
}

.AuthForm {
  padding: 15px 0px;
}